body { 

	background-color: #d9d9d9;
	background: url(GetFitbackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
 }

  a{
text-decoration: none;
color: black;
}

a:visited{
text-decoration: none;
color: black;
}

  .links{

 	background-color: #a6a8ab;
 	height:100%;
 	border-radius: 20px;

 }

.external_link:hover{ 
	font-weight: bold;

 }

 .about{ 

 	background-color: #a6a8ab;
 	padding: 14px;
 	border-radius: 20px;
 	margin-top: 70px

  }